<!DOCTYPE html>
<html>
  <head>
    <title>Noticias</title>
    <%- include("partials/head") %> 
  </head>
  <body>
    <%- include('partials/navigation') %> 

    
    <!-- MAIN CONTENT -->
  </body>
</html>
